<center>
    <footer style="padding: 0px;
    text-align: center;
    height: 100px;
    background-color: lavenderblush;">
        <br><hr>
        <h4>@Todos los derechos reservados</h4>
    </footer>
</center>