<!DOCTYPE html>
<html lang="en">
<%-include('partials/header.html');%>
<body>
    <div class="container" style="background-color: plum;">
        <center>
            <div style="padding: 30px;
            height: 10%;
            text-align: center;
            background-color: lavenderblush;">
                <img src="./img/viajes.jpeg" alt="..." style="width: 150px; float: left; margin-left: 125px;">
                <h1 style="margin-left: 0px;">Viajes "El Destino Feliz" </h1>
            </div>
        <!-- </center> -->
            <form action="/boleto" method="post" style="width: 600px;">
                <div class="mb-3"> <br>
                   <label for="" class="form-label" style="font-weight: bold;">Num. Boleto: </label>
                   <input type="text" name="numBoleto" id="numBoleto">
                    <br>
                    <label for="" class="form-label" style="font-weight: bold;">Destino: </label>
                    <input type="text" name="destino" id="destino">
                    <br>
                    <label for="" class="form-label" style="font-weight: bold;">Nombre del cliente: </label>
                    <input type="text" name="nombreCliente" id="nombreCliente">
                    <br>
                    <label for="" class="form-label" style="font-weight: bold;">Años cumplidos: </label>
                    <input type="number" id="years" name="years">
                    <br>
                    <label for="" class="form-label" style="font-weight: bold;">Tipo de viaje: </label>
                    <select name="tipoViaje" id="tipoViaje">
                        <option value="1">Sencillo</option>
                        <option value="2">Doble</option>                    
                    </select>
                    <br>
                    <label for="" class="form-label" style="font-weight: bold;">Precio: </label>
                    <input type="number" id="precio" name="precio">
                    <hr>
                        <center>
                    <button type="submit" class="btn btn-primary" id="btnCalcular" name="btnCalcular">Calcular</button> 
                    <button type="reset" class="btn btn-secondary" id="btnLimpiar" name="btnLimpiar">Limpiar</button> 
                </div>
            </form>

            <%  
                if(precio!=null){
                    var impuesto=0; 
                    var descuento=0;
                    var total=0;
                    var subtotal=0;

                    subtotal = precio; 
                    impuesto = subtotal * 0.16;

                    if(tipoViaje==2){
                        subtotal = subtotal * 1.8; 
                    }
                    if(years>=60){
                        descuento = 0.5; 
                        total = ((subtotal * descuento) + impuesto)
                    }else{
                        total = (Number(subtotal) + Number(impuesto));
                    }
                }
            %>
        <center>
            <strong>
                Subtotal: <input type="text" value="<%=subtotal%>" readonly="true"> <br><br>
                Impuesto 16%: <input type="text" value="<%=impuesto%>" readonly="true"> <br> <br>
                Descuento: <input type="text" value="<%=descuento%>" readonly="true"> <br> <br>
                Total a pagar: <input type="text" value="<%=total%>" readonly="true"> <br><br>
            </strong>
        </center>
    </div>
    
    <%-include('partials/footer.html');%>
</center>
</body>
</html>

